.table__prueba {
    border: 1px solid;
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 30px;
    text-align: left;
}

.th__subrayado {
    border-bottom: 1px solid;
}
.th__tbody,
.td__tbody {
    border: 1px solid;
}
.text__bold {
    font-weight: 100;
}
